body {

    /*  apply animation on body */
    background-color: rgb(42, 146, 141); 
    animation-name: changebg;
  animation-duration: 11s;
}
@keyframes changebg {
    0%   {background-color: rgb(136, 13, 126);}
    25%  {background-color: rgb(187, 121, 22);}
    50%  {background-color: rgb(31, 69, 165);}
    100% {background-color: rgb(14, 146, 7);}
  }
#tab_grid {
    width: 450px;
    height: 450px;
    border: 6px solid #999;
    border-radius: 6px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
    margin: auto;
    margin-top: 20px;
    background-color: greenyellow;
    box-shadow: 0px 0px 20px white;
}

.clks {
    height: 150px;
    width: 150px;
    font-size: 0.1px;
    
}

#p11 {
    background: url('img/11.jpg');
    
}

#p12 {
    background: url('img/12.jpg');
}

#p13 {
    background: url('img/13.jpg');
}

#p21 {
    background: url('img/21.jpg');
}

#p22 {
    background: url('img/22.jpg');
      
}

#p23 {
    background: url('img/23.jpg');
}

#p31 {
    background: url('img/31.jpg');
}

#p32 {
    background: url('img/32.jpg');
}

#p33 {
    background: url('img/33.jpg');
} 

#launch {
    width: 170px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #999;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    color: black;
    background-color: #999;
    box-shadow: 0px 0px 20px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    font-family: 'Arial';
    font-size: 25px;
}
#launch:hover {
    color: #ba6f00;
    text-shadow: 0px 0px 10px;
}

#moves {
    width: 233px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #999;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    color: #000;
    background-color: #999;
    box-shadow: 0px 0px 20px;
    text-shadow: 0px 0px 10px;
    cursor: pointer;
    font-family: 'Arial';
    font-size: 25px;
    
}